html, body {width: 100%; height: 100%; margin: 0; padding: 0; background: #fcfcfc;}
  div, input, form, fieldset, textarea, legend {margin: 0; padding: 0;}
  fieldset { border: 0;}
  legend {display: none;}
body {width: 100%; height: 100%; margin: 0; padding: 0; background-color: #f4f4f4;}
h1{
	text-align:center;
	font-size:18px;
	line-height:55px;
	color:#FFF;
	font-weight:100;
}
header{
	width: 100%;
	height: 55px;
	background-color: #37b1bc;
	position: relative;
	top: 0;
	left: 0;
}
  div, input, form {margin: 0; padding: 0;}
   .write_wrap {clear:both; overflow: hidden; width: 980px; margin: 0 auto; border:hidden;padding-top: 100px;}   
   .sideL {float: left; width: 20%;}
   .sideR {float: right; width: 80%; text-align:right;}
   .clearFix {overflow: hidden;}
   .bt1 {text-align: right;}
   .bt1 input[type="submit"] {
    width:110px;
	height:50px;
	background:#23cddc;
	border:none;
	color:#FFF;
	font-size:18px;
	font-weight:bold;
	cursor: pointer;
	clear: both;}
	
	.inpFile {
	font-size: 13px;
	width:150px;
	height:150px;
	border:#CCC solid 1px;
	background:url(img/profile_3.jpg) center center no-repeat;
	text-align:center;
	margin-right:18px;
	}

	.txtArea{
	width:80%;
	height:400px;
	background:#ffffff;
	color:#666666;
	font-size:14px;
	padding: 15px;
	margin-bottom: 20px;
	}

	.hiddenItem {
		display:none;
		visibility:hidden;
	}
	span[id="imagePreview"]{
   width:300px;
   height:400px;
   border:#CCC solid 1px;
   background:url('../images/join_img/profile.jpg') center center no-repeat;
   text-align:center center;
   padding:0;
   margin-top:5px;
   float : left;

   }